php_flag display_errors on

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^public/assets/css/(.*)$ public/assets/css/$1 [L]
RewriteRule ^([a-zA-Z0-9\-\-\/]*)$ index.php