/* Fonts */
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../font/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'QuattrocentoSans-Regular';
  src: url('../font/QuattrocentoSans-Regular.ttf') format('truetype');
}

$font-color: white;
$red: #D92332;
$pink: #D9777F;
$black: #262526;
$grey: #F2F2F2;


  /* Reset navigator*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body {
    background-color: $font-color;
  }


  /* Typography */
  h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Montserrat-Black';
  margin: 20px 5px 20px 5px;
  }

  
p {
  font-family: 'QuattrocentoSans-Regular';
}


.h4 {
  font-size: 30px;
}


/* Buttons and inputs */
.input {
  text-align:center;
}

.button, .button_admin {
  border: solid;
  font-weight: bold;
  border-color: $red;
  border-radius:30px;
  text-align: center;
  background-color: $font-color;
  color: $red;
  padding: 5px 5px 5px 5px;
  height:50px;
  text-decoration: none;
}

.button:hover, .button_admin {
  border: solid;
  font-weight: bold;
  border-color: $red;
  text-align: center;
  background-color: $red;
  color: $font-color;
  border-radius:30px;
}

.button_admin {
  height: 100px;
  width : 100%;
}

.button-action {
  border-style:none;
}

.trash-button {
  color: $red;
  border : none;
  background-color: $font-color;
}

.modify-button {
  color: $black;
  border : none;
  background-color: $font-color;
}

.ok-button {
  color: green;
  border : none;
  background-color: $font-color;
}

.action-sup{
  text-align:center;
  margin : 20px 0px 20px 0px;
}

/* Links */
.link {
  text-decoration: none;
  color: $pink;
  padding: 10px;
  font-weight: bold;
  font-family: 'Montserrat-Black';
}

.link-menu {
  color : $black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Montserrat-Black';
}

.link-menu:hover {
color : $red;
text-decoration: underline $black;
font-weight: bold;
font-family: 'Montserrat-Black';
}

.white {
  color: $font-color;
}

.red {
  color: $red;
}

  /* Menu and navigation */
  .menu-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 1px;
    justify-content :right;
  }

//Menu items
  .menu {
    padding-right: 20px;
  }

  .navigation {
    background-color: $font-color;
    overflow: hidden;
    position: fixed;
    top:0;
    z-index:1000;
    box-shadow: rgba(0,0,0,0.19) 0px 0px 13px 0px;
    width:100%;
  }

  /* Display */
.pagination {
  color: $red;
}

.flex {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: nowrap;
  flex-direction: row;
}

  .margin-top{
    margin-top: 120px;
    margin-bottom: 50px;
  }

  .section {
    margin: 2% 5% 2% 5%;
  }

.titre{
  font-size: 26px;
  font-weight: bold;
  font-family: 'Montserrat-Black';
}

.display-none1{
  display: none;
}

/* Login page */
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 400px;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    text-align:center;
    font-family: 'Montserrat-Black';
    font-size: 16px;
    }

    .login a {
      text-decoration: none;
      color: $black;
      font-family: 'QuattrocentoSans-Regular';
  }

/* Prestations style */
.prestation-card{
  height:250px; 
  width:350px;
  color: $red;
  text-align: center;
  border: solid;
  font-weight: bold;
  border-color: $red;
  background-color: $font-color;
  box-shadow: rgba(0,0,0,0.19) 0px 0px 13px 0px;
}

.prestation-card:hover{
  height:250px; 
  width:350px;
  color: $font-color;
  text-align: center;
  border: solid;
  font-weight: bold;
  border-color: $red;
  background-color: $red;
}

/* Prestations style */
.prestation-card-admin{
  margin: 20px 0px 20px 0px;
  padding: 1%;
  background-color: white;
  height: 200px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
}

/* Car style */
.voiture-card {
  background-color: $font-color;
  padding: 2%;
  height: 100%;
  box-shadow: rgba(0,0,0,0.19) 0px 0px 13px 0px;
  transition: transform .1s;
  text-align: center;
  width: 350px;
  margin: 3%;
}

.voiture-card-img {
  height:150px;
  width:230px;
  margin-left: 50%;
}

.voiture-card:hover{
  transform: scale(1.05);
  }

  .v_info:hover{
    cursor: zoom-in;
    transform: scale(1.7);
  }

/* Notice style */
.card-avis {
  text-align: start;
  padding: 30px;
  background-color: $font-color;
  height: 200px;
  width:100%;
  margin: 10px;
  box-shadow: rgba(0,0,0,0.19) 0px 0px 13px 0px;
  max-height: 200px;
  border: none;
  overflow-y: auto;
}

.star {
  color: #F1BD41;
  font-size: 20px;
}

.head-review{
  color:$black;
  font-size:12px;
  margin-bottom:10px
}

.notation-review{
  font-weight: bold;
  font-size:20px;
  margin-bottom:10px;
  word-wrap: break-word;
}

/* Values style */
.valeur {
  text-align: center;
  background-color: $red;
  height: 150px;
  color: $font-color;
  font-weight: bold;
  margin: 20px;
}

.valeur h3 {
  line-height: 100px;
}

/* Contact style */
.contact {
  background-color: $red;
  color: $grey;
}

  /* Footer */
  footer {
    background-color: $black;
    height: auto;
    color: $font-color;
    padding: 10px;
    margin:50px 0px 0px 0px;
  }

  /* Sidebar */
  .dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.sidebar-style {
  width: 280px; 
  height: 100vh;
  background-color: $font-color;
  box-shadow: 0px 4px 8px -1px rgba(104, 104, 104);
}

/*Carousel*/
#slider {
  align-items: center;
}

  #back, #next {
    font-size: 45px;
    cursor: pointer;
  }

  #div0, #div4, #div5, #div6{
    display: none;
  }


 /* Responsive */
@media only screen and (min-device-width : 250px) and (max-device-width : 481px) {

  //Display responsive
  .display-none{
    display: none;
  }

  .display-block{
    display: block;
  }

  .center {
    text-align: center;
  }

  //Cars style responsive
  .voiture-card {
    padding: 5%;
  }

  .voiture-card-img {
    margin-left: 0%;
  }

  //Login style responsive
  .login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    text-align:center;
    font-family: 'Montserrat-Black';
    font-size: 16px;
    }

    //Services style responsive
    .prestation-card{
      height:250px; 
      width:100%;
      color: $red;
      text-align: center;
      border: solid;
      font-weight: bold;
      border-color: $red;
      background-color: $font-color;
    }

    .prestation-card:hover{
      height:250px; 
      width:100%;
      color: $font-color;
      text-align: center;
      border: solid;
      font-weight: bold;
      border-color: $red;
      background-color: $red;
      margin: 5px;
    }

.prestation-card-admin{
  margin: 20px 0px 20px 0px;
  padding: 10% 2% 10% 2%;
  background-color: white;
  height: auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
}

    //Values style responsive
    .valeur {
      text-align: center;
      background-color: $red;
      height: auto;
      color: $font-color;
      font-weight: bold;
      margin: 5px;
    }

    .valeur h3 {
      line-height: 50px;
    }

    //Notices style responsive
    .card-avis {
      text-align: start;
      padding: 30px;
      background-color: $font-color;
      height: 300px;
      width:95%;
      margin: 5px;
      box-shadow: rgba(0,0,0,0.19) 0px 0px 13px 0px;
      max-height: 300px;
      border: none;
      overflow-y: auto;
    }

    //Sidebar style responsive
    .sidebar-style {
      width: 100%; 
      background-color: $font-color;
      box-shadow: rgba(0,0,0,0.19) 0px 0px 13px 0px;
      height: 100%;
    }

    /*Carousel*/

  #back, #next {
    display: none;
  }

  #div0, #div4, #div5, #div6{
    display: none;
  }

  }
