/* Polices */
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../font/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'QuattrocentoSans-Regular';
  src: url('../font/QuattrocentoSans-Regular.ttf') format('truetype');
}


  /* Réinitialisation du navigateur */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 p {
    font-family: 'QuattrocentoSans-Regular';
  }

    /* Typography */
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      font-family: 'Montserrat-Black';
      margin: 20px 5px 20px 5px;
    }

$font-color: white;
$red: #D92332;
$pink: #D9777F;
$black: #262526;
$grey: #F2F2F2;

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 400px;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    text-align:center;
    font-family: 'Montserrat-Black';
    font-size: 16px;
    }

    .input {
      background-color: #F2F2F2; 
      text-align:center;
    }

    .action-sup{
      text-align:center;
      margin : 20px 0px 20px 0px;
    }

    .pagination {
      color: $red;
    }
    

    .button {
      border: solid;
      font-weight: bold;
      border-color: #D92332;
      border-radius:30px;
      text-align: center;
      background-color: white;
      color: #D92332;
      padding: 5px 5px 5px 5px;
      height:50px
    }
  
    .button:hover {
      border: solid;
      font-weight: bold;
      border-color: #D92332;
      text-align: center;
      background-color: #D92332;
      color: white;
      border-radius:30px;
    }


    .link {
      text-decoration: none;
      color: $pink;
      font-weight: bold;
      font-family: 'Montserrat-Black';
    }

    .login a {
        text-decoration: none;
        color: $black;
        font-family: 'QuattrocentoSans-Regular';
    }

    .prestation-card{
      height:250px; 
      width:350px;
      color: $red;
      text-align: center;
      border: solid;
      font-weight: bold;
      border-color: $red;
      background-color: white;
    }

    
    .prestation-card:hover{
      height:250px; 
      width:350px;
      color: white;
      text-align: center;
      border: solid;
      font-weight: bold;
      border-color: $red;
      background-color: $red;
    }

    .link-menu {
      color : $black;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Montserrat-Black';
   }

   .link-menu:hover {
    color : $red;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat-Black';
 }
    
.flex {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: nowrap;
  flex-direction: row;
}

  /* coté menu */
  .menu-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content :right;
  }

  /* items du menu */
  .menu {
    padding-right: 20px;
  }

  .navigation {
    background-color: white ;
    overflow: hidden;
    position: fixed;
    top:0;
    z-index:1000;
    width:100%;
  }

  .margin-top{
    margin-top: 150px;
    margin-bottom: 150px;
  }

  /*
  .mon-container{
    margin: 2% 5% 2% 5%;
  }


  .section-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin: 2% 5% 2% 5%;
  }


.button-style {
  border-radius: 30px;
  height: 50px;
  width: auto;
  padding: 5px 5px 5px 5px;
}
*/
  .section {
    margin: 2% 5% 2% 5%;
  }



.titre{
  font-size: 26px;
  font-weight: bold;
  font-family: 'Montserrat-Black';
}



  .valeur {
    text-align: center;
    background-color: #D92332;
    height: 150px;
    color: white;
    font-weight: bold;
    margin: 20px;
  }

  .valeur h3 {
    line-height: 100px;
  }

  .voiture-card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    text-align: start;
    margin: 20px 0px 20px 0px;
    padding: 1%;
    background-color: #F2F2F2;
    height: 200px;
    width: 100%;
    box-shadow: 0px 4px 8px -1px rgba(104, 104, 104);
  }

  .card-avis {
    text-align: start;
    padding: 1%;
    background-color: #F2F2F2;
    height: 200px;
    width:300px;
    margin: 10px;
    box-shadow: 0px 4px 8px -1px rgba(104, 104, 104);
  }

  footer {
    background-color: $black;
    height: auto;
    color: $font-color;
    padding: 10px;
    margin:10px 0px 0px 0px;
  }
