@charset "UTF-8";
/* Polices */
@font-face {
  font-family: "Montserrat-Black";
  src: url("../font/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "QuattrocentoSans-Regular";
  src: url("../font/QuattrocentoSans-Regular.ttf") format("truetype");
}
/* Icons 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css");
*/
/* Réinitialisation du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "QuattrocentoSans-Regular";
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Montserrat-Black";
  margin: 20px 5px 20px 5px;
}

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  width: 400px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: "Montserrat-Black";
  font-size: 16px;
}

.input {
  background-color: #F2F2F2;
  text-align: center;
}

.action-sup {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

button {
  border: solid;
  font-weight: bold;
  border-color: #D92332;
  text-align: center;
  background-color: white;
  color: #D92332;
  padding: 5px 5px 5px 5px;
  border-radius: 30px;
  height: 50px;
}

button:hover {
  border: solid;
  font-weight: bold;
  border-color: #D92332;
  text-align: center;
  background-color: #D92332;
  color: white;
}

.button-style {
  border: solid;
  font-weight: bold;
  border-color: #D92332;
  text-align: center;
  background-color: white;
  color: #D92332;
  border-radius: 30px;
}

.connect {
  width: 300px;
  border-radius: 0px;
}

.link {
  text-decoration: none;
  color: #D9777F;
  font-weight: bold;
  font-family: "Montserrat-Black";
}

.login a {
  text-decoration: none;
  color: #262526;
  font-family: "QuattrocentoSans-Regular";
}

.prestation-card {
  height: 200px;
  width: 350px;
  color: #D92332;
  text-align: center;
}

.prestation-card2 {
  height: 200px;
  width: 350px;
  color: #262526;
  text-align: center;
}

.link-menu {
  color: #262526;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat-Black";
}

.link-menu:hover {
  color: #D92332;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat-Black";
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* Conteneur du menu */
.menu-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 70px;
  margin: 2%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* coté menu */
.menu-block {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

/* items du menu */
.menu {
  padding: 10px;
}

/*
  .mon-container{
    margin: 2% 5% 2% 5%;
  }


  .section-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin: 2% 5% 2% 5%;
  }


.button-style {
  border-radius: 30px;
  height: 50px;
  width: auto;
  padding: 5px 5px 5px 5px;
}
*/
.section {
  margin: 2% 5% 2% 5%;
}

.valeur {
  text-align: center;
  background-color: #D92332;
  height: 200px;
  color: white;
  font-weight: bold;
  margin: 30px;
}

.valeur h3 {
  line-height: 200px;
}

.voiture-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  text-align: start;
  margin: 20px 0px 20px 0px;
  padding: 1%;
  background-color: #F2F2F2;
  height: 200px;
  width: 100%;
  box-shadow: 0px 4px 8px -1px rgb(104, 104, 104);
}

.card-avis {
  text-align: start;
  padding: 1%;
  background-color: #F2F2F2;
  height: 200px;
  width: 300px;
  margin: 10px;
  box-shadow: 0px 4px 8px -1px rgb(104, 104, 104);
}

footer {
  background-color: #262526;
  height: auto;
  color: white;
  padding: 10px;
  margin: 10px 0px 0px 0px;
}/*# sourceMappingURL=style.css.map */