/* Fonts */
@font-face {
  font-family: "Montserrat-Black";
  src: url("../font/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "QuattrocentoSans-Regular";
  src: url("../font/QuattrocentoSans-Regular.ttf") format("truetype");
}
/* Reset navigator*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Montserrat-Black";
  margin: 20px 5px 20px 5px;
}

p {
  font-family: "QuattrocentoSans-Regular";
}

.h4 {
  font-size: 30px;
}

/* Buttons and inputs */
.input {
  background-color: white;
  text-align: center;
}

.button, .button_admin {
  border: solid;
  font-weight: bold;
  border-color: #D92332;
  border-radius: 30px;
  text-align: center;
  background-color: white;
  color: #D92332;
  padding: 5px 5px 5px 5px;
  height: 50px;
  text-decoration: none;
}

.button:hover, .button_admin {
  border: solid;
  font-weight: bold;
  border-color: #D92332;
  text-align: center;
  background-color: #D92332;
  color: white;
  border-radius: 30px;
}

.button_admin {
  height: 100px;
  width: 100%;
}

.button-action {
  border-style: none;
}

.trash-button {
  color: #D92332;
  border: none;
  background-color: white;
}

.modify-button {
  color: #262526;
  border: none;
  background-color: white;
}

.ok-button {
  color: green;
  border: none;
  background-color: white;
}

.action-sup {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

/* Links */
.link {
  text-decoration: none;
  color: #D9777F;
  padding: 10px;
  font-weight: bold;
  font-family: "Montserrat-Black";
}

.link-menu {
  color: #262526;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat-Black";
}

.link-menu:hover {
  color: #D92332;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat-Black";
}

.white {
  color: white;
}

.red {
  color: #D92332;
}

/* Menu and navigation */
.menu-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 1px;
  justify-content: right;
}

.menu {
  padding-right: 20px;
}

.navigation {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
  width: 100%;
}

/* Display */
.pagination {
  color: #D92332;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.margin-top {
  margin-top: 120px;
  margin-bottom: 50px;
}

.section {
  margin: 2% 5% 2% 5%;
}

.titre {
  font-size: 26px;
  font-weight: bold;
  font-family: "Montserrat-Black";
}

.display-none1 {
  display: none;
}

/* Container style */
.filter {
  background-color: #262526;
  color: #D9777F;
}

/* Login page */
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  width: 400px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: "Montserrat-Black";
  font-size: 16px;
}

.login a {
  text-decoration: none;
  color: #262526;
  font-family: "QuattrocentoSans-Regular";
}

/* Prestations style */
.prestation-card {
  height: 250px;
  width: 350px;
  color: #D92332;
  text-align: center;
  border: solid;
  font-weight: bold;
  border-color: #D92332;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
}

.prestation-card:hover {
  height: 250px;
  width: 350px;
  color: white;
  text-align: center;
  border: solid;
  font-weight: bold;
  border-color: #D92332;
  background-color: #D92332;
}

/* Car style */
.voiture-card {
  margin: 20px 0px 20px 0px;
  padding: 1%;
  background-color: white;
  height: 200px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
  transition: transform 0.1s;
}

.voiture-card-img {
  height: 150px;
  width: 230px;
}

.voiture-card:hover {
  transform: scale(1.05);
}

.v_info:hover {
  cursor: zoom-in;
  transform: scale(1.7);
}

/* Notice style */
.card-avis {
  text-align: start;
  padding: 30px;
  background-color: white;
  height: 200px;
  width: 400px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
  max-height: 200px;
  border: none;
}

.star {
  color: #F1BD41;
  font-size: 20px;
}

.head-review {
  color: #262526;
  font-size: 12px;
  margin-bottom: 10px;
}

.notation-review {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Values style */
.valeur {
  text-align: center;
  background-color: #D92332;
  height: 150px;
  color: white;
  font-weight: bold;
  margin: 20px;
}

.valeur h3 {
  line-height: 100px;
}

/* Contact style */
.contact {
  background-color: #D92332;
  color: #F2F2F2;
}

/* Footer */
footer {
  background-color: #262526;
  height: auto;
  color: white;
  padding: 10px;
  margin: 50px 0px 0px 0px;
}

/* Sidebar */
.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

[data-bs-theme=dark] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded=true] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}

.btn-toggle[aria-expanded=true]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.sidebar-style {
  width: 280px;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 4px 8px -1px rgb(104, 104, 104);
}

/*Carousel*/
#slider {
  align-items: center;
}

#back, #next {
  font-size: 45px;
  cursor: pointer;
}

#div0, #div4, #div5, #div6 {
  display: none;
}

/* Responsive */
@media only screen and (min-device-width: 250px) and (max-device-width: 481px) {
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
  .center {
    text-align: center;
  }
  .voiture-card {
    margin: 20px 0px 20px 0px;
    padding: 10% 2% 10% 2%;
    background-color: white;
    height: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
  }
  .login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    width: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    font-family: "Montserrat-Black";
    font-size: 16px;
  }
  .prestation-card {
    height: 250px;
    width: 100%;
    color: #D92332;
    text-align: center;
    border: solid;
    font-weight: bold;
    border-color: #D92332;
    background-color: white;
  }
  .prestation-card:hover {
    height: 250px;
    width: 100%;
    color: white;
    text-align: center;
    border: solid;
    font-weight: bold;
    border-color: #D92332;
    background-color: #D92332;
    margin: 5px;
  }
  .valeur {
    text-align: center;
    background-color: #D92332;
    height: auto;
    color: white;
    font-weight: bold;
    margin: 5px;
  }
  .valeur h3 {
    line-height: 50px;
  }
  .card-avis {
    text-align: start;
    padding: 30px;
    background-color: white;
    height: 300px;
    width: 100%;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
    max-height: 300px;
    border: none;
  }
  .sidebar-style {
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 13px 0px;
    height: 100%;
  }
  /*Carousel*/
  #back, #next {
    display: none;
  }
  #div0, #div4, #div5, #div6 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */